@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Italianno&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Italiana&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  align-items: center;
}

.flex_center_centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jend{
  justify-content: flex-end;
}

.fwrap {
  flex-wrap: wrap;
}

.flex_col {
  flex-direction: column;
}

.gap {
  gap: 0.5rem;
}

.gap1 {
  gap: 1.5rem;
}

.fixed {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover h2 {
  text-decoration: underline;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
  outline: none;
}

.scrollup {
  border-radius: 50%;
  padding: 5px;
  background: white;
  border: 2px solid black;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.scrollup:active {
  transform: scale(0.8);
}

.scrollup span {
  font-size: 2.3rem;
  color: black;
}

.scaledown:active{
  transform: scale(0.8);

}