@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Italianno&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  align-items: center;
}

.flex_center_centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fwrap {
  flex-wrap: wrap;
}

.flex_col {
  flex-direction: column;
}

.gap {
  gap: 0.5rem;
}

.gap1{
  gap: 1.5rem;
}

.fixed {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover h2 {
text-decoration: underline;
}

img {
  width: 100%;
  display: block;
}

button{
  cursor: pointer;
outline: none;
}