.header {
  padding: 15px 15px 0;
}

.upper_header {
  justify-content: space-between;
}
.upper_header img {
  width: 220px;
}

.upper_header .img2 {
  width: 300px;
}

.upper_header button {
  border: none;
  font-size: 1.5rem;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  align-self: flex-start;
}

.bottomheader {
  padding: 0 15px 15px;
}

.bottom_header {
  justify-content: space-between;
  transition: 0.3s ease-in;
}

.links {
  display: flex;
  gap: 2rem;
}
.links a {
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: inter;
}

.ham {
  display: none;
}

.closesidebar{
  display: none;
}

/* footer code start here */

.footer_bg {
  background: #dedcda;
}

.footer {
  padding: 30px 20px;
  gap: 3rem;
}

.footer_left {
  flex: 0.7;
}

.footer_left p,
.footer_right h2 {
  font-family: "Imprima";
}

.footer_left img {
  width: 43%;
  padding-bottom: 20px;
}

.footer_right {
  flex: 0.3;
}

.footer_right .share_icons {
  gap: 1.5rem;
  padding: 15px 0;
}

.footer_right .share_icons img {
  width: 7%;
}

.footer_right .share_icons img:nth-child(1) {
  width: 4%;
}

.footer_right .footer_links h2 {
  padding: 4px 0;
  font-size: 1.2rem;
  font-family: Imprima;
  font-weight: 400;
}

/* media queries */

@media screen and (max-width: 768px) {
  /* header section  */

  .ham {
    display: block;
    cursor: pointer;
    padding: 10px 10px 0;
  }

  .ham span {
    font-size: 2rem;
  }

  .bottomheader {
    padding: 0;
    position: relative;
  }

  .bottom_header {
    position: fixed;
    background: white;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    text-align: right;
    gap: 2rem;
    overflow: hidden;
    z-index: 4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .open {
    width: 45vw;
    padding-right: 20px;
  }

  .bottom_header .links {
    flex-direction: column;
    opacity: 0;
    transition: 0.8s ease-in-out;
  }

  .closesidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
  }

  .closesidebar span {
    font-size: 1.7rem;
  }

  .open .links {
    opacity: 1;
  }

  .upper_header img {
    width: 20%;
  }

  .upper_header .img2 {
    width: 37%;
  }

  .upper_header button {
    font-size: 1.2rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer_right {
    flex: 1;
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .upper_header .img2 {
    display: none;
  }
}
