@import url("./default.css");
@import url("./headerfooter.css");


.home_container {
   padding: 20px 0;
  background-image: url("../images/Rectangle\ 46.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 3rem;
}

.octagon {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  background-color: #ffecd6e5;
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}

.octagon img {
  width: 48%;
}

.octagon .octagon_3rdimg {
  width: 60%;
  padding: 13px 0;
}

.octagon p {
  font-size: 1.5rem;
  text-align: center;
  color: #444444e5;
}
.octagon p span {
  font-weight: 700;
  font-size: 1.8rem;
}
