.choose_plan {
    gap: 3rem;
    flex-direction: column;
    background: #C4F4DEF2;
    padding: 40px 10px;

}

.rupees {
    padding: 10px;
    border-radius: 20px;
    border: 2px dotted black;
    background:
        linear-gradient(180deg, #B5E0A6 0%, rgba(181, 224, 166, 0) 92.6%);
        width: 400px;
        text-align: center;

}
.vip_coupon{
    box-shadow: 2px 10px 4px 0px #00000040;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: white;
}
.vip_reward{
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 4px 0px #00000073 inset;
    border: 1px solid black;
    text-decoration: underline;
}