@import url("../../style/default.css");
@import url("../../style/headerfooter.css");

.dashboard_section {
  height: 100vh;
}

.dashboard_inner_section {
  height: 100%;
}

.top_div {
  background-color: #bafbd7;
  padding: 10px 20px;
  justify-content: space-between;
}

.level img {
  width: 40px;
}

.dashboard_inner_left {
  padding: 20px 30px;
  background-color: #bafbd7;
  justify-content: space-between;
}

.dashboard_inner_left p {
  padding: 10px 0;
  font-size: 1.2rem;
  color: #767676;
}

.dashboard_inner_left .active_link {
  color: black;
  font-weight: bold;
}

.dashboard_inner_left a:hover p {
  text-decoration: underline;
}

.logout {
  margin-top: auto;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  background: #2237228f;
  color: white;
  font-size: 1.5rem;
  text-shadow: 5px 5px 5px #00000040;
}

.logout span {
  font-size: 1.5rem;
}

/* right */

.dashboard_inner_right {
  padding: 40px 10px;
  flex: 1;
}

/* crystalcount code */

.table_crystals table {
  background: #f5f5f5b0;
}

.table_crystals table td {
  padding: 20px 10px;
  font-size: 1.3rem;
}

.underline {
  text-decoration: underline;
}
.crystal_table p {
  padding: 10px 0;
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
}

/* code for commision */

table {
  border-collapse: collapse;
  text-align: center;
  background: #bce7d0b0;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

/* refferal section */

.upper_logo img {
  width: 50px;
}
.upper_logo h2 {
  font-size: 1.1rem;
}
.upper_logo span {
  padding: 3px 15px;
  border-radius: 10px;
  background: #bce7d0b0;
  border: 1px solid black;
}
.logo_div {
  width: 700px;
  padding: 20px 10px;
  margin: 0 auto;
}
.logo_innerdiv img {
  width: 50px;
}
.line_div {
  height: 50px;
  width: 3px;
  background: black;
}
.logo_container {
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.straight_line {
  height: 3px;
  width: 77%;
  background: black;
}

.s70 {
  width: 51%;
}

.w16 {
  width: 160px;
}

.inside_img_div {
  align-items: flex-start;
  justify-content: space-between;
}

/* refferal section end */

/* slab section */

.dashboard_slab_img {
  padding: 20px;
  height: 80%;
}

.dashboard_slab_left {
  padding: 0 10px;
}

.dashboard_slab_left h2 {
  padding: 10px 0;
  font-size: 1.2rem;
  font-family: Inknut Antiqua;
  font-weight: 400;
}

.dashboard_slab_right {
  flex: 1;
  padding: 10px 40px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  align-items: flex-end;
  justify-content: space-between;
}

.slab_innerDiv {
  transform: translateY(45px);
}

.slab_innerDiv img {
  width: 50px;
}

.slab_innerDiv h2 {
  font-family: Inknut Antiqua;
  font-size: 25px;
  font-weight: 400;
}

.graph {
  width: 60px;
  background: #1db977b2;
  height: 150px;
}

.silvergraph {
  height: 256px;
  background: #1db97733;
}

.goldgraph {
  background: #1db97733;
  height: 450px;
}

/* profile section */

.profile_dd {
  background: #f4f4fc;
}

.dashboard_profile_section {
  padding: 20px 30px;
  gap: 2rem;
}


.dashboard_profile_section span {
  font-size: 2rem;
  cursor: pointer;
}

.profile img {
  width: 160px;
}

.input_div label {
  font-size: 1.3rem;
  font-family: Inter;
  font-weight: 500;
}

.input_div input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
}

.mb {
  margin-bottom: 5px;
}

.w100{
    width: 100%;
}